server {
    listen      80;
    listen      [::]:80;

    server_name $DOMAIN;

    gzip        on;
    gzip_types  application/javascript application/json text/css;

    access_log  off;

    location / {
        proxy_pass http://app:80;
    }
}